In [1]:
import pyspark
import pandas as pd

In [2]:
pd.read_csv('./data.csv')

        Name  Age  Experience  Salary
0      Adiba   21           3   50000
1     Himali   22           2   45000
2  Vaishnavi   23           4   40000
3      Tisha   21           2   45000
4     Zainab   24           3   48000
5     Aditya   23           4   47000
6    Somesh    24           4   50000
7      Sahil   25           5   49000

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Practice').getOrCreate()

c:\Users\sachi\AppData\Local\Programs\Python\Python37\lib\site-packages\pyspark\context.py:317: FutureWarning: Python 3.7 support is deprecated in Spark 3.4.
  warnings.warn("Python 3.7 support is deprecated in Spark 3.4.", FutureWarning)

In [4]:
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [6]:
df_pyspark = spark.read.option('header', 'true').csv('./data.csv',
inferSchema=True)
df_pyspark.show()

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
|    Adiba| 21|         3| 50000|
|   Himali| 22|         2| 45000|
|Vaishnavi| 23|         4| 40000|
|    Tisha| 21|         2| 45000|
|   Zainab| 24|         3| 48000|
|   Aditya| 23|         4| 47000|
|  Somesh | 24|         4| 50000|
|    Sahil| 25|         5| 49000|
+---------+---+----------+------+

In [7]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame